@page "/sobrepeso"
<body style="background-color: blueviolet">

    <div class="divtopo">
        <img src="assets/icon-no-bg.png" class="imghistory"> 
    </div>
    <div class="containerbox" style="background-color: white;">
        <div>
            <h1>⛔️ Sobrepeso !</h1>
            <p class="Paragrafocard">
                Cuidado você está com sobrepeso,         
            </p>
            <p class="Paragrafocard">dê uma atenção para sua saúde   </p>
            <button class="buttoncalc">Registrar Medidas</button>
            <br>
            <br>
            <button class="buttonentenda" onclick="location.href='history'">Ver meu histórico</button>
        </div>
    </div>  
 </body>